*.o
*.a
.deps
Makefile
Makefile.in
prboom-plus.wad
/aclocal.m4
/config.h
/config.h.in
/config.log
/config.status
/configure
/autotools/compile
/autotools/config.guess
/autotools/config.sub
/autotools/depcomp
/autotools/install-sh
/autotools/missing
/autom4te.cache
/data/rdatawad
/prboom.spec
/src/prboom-plus
/src/prboom-plus-game-server
/stamp-h1
